
.cardTitle p {
    font-size: 16px;
    color: #a7a5a5;
    padding-bottom: 5px;
}

.cardBody p {
    font-size: 12px;
    color: #a7a5a5;
    float: right;
}

.cardTitle h1 {
    font-size: 30px;
}

.cardTitle h1 {
    font-size: 30px;
}
