<template>
    <lightning-card>
        <lightning-layout multiple-rows="true">
            <lightning-layout-item size="12" class="slds-p-vertical_x-small">
                <div class="cardTitle" align="center">
                    <h1>
                        <lightning-layout>
                            <lightning-layout-item size="12" small-device-size="12" medium-device-size="12" large-device-size="12">
                                MEGA History Views
                            </lightning-layout-item>
                        </lightning-layout>
                        <p>
                            <lightning-layout multiple-rows="true">
                                <lightning-layout-item size="12" small-device-size="12" medium-device-size="12" large-device-size="12">
                                    Configure how you want to display your tracked data.
                                </lightning-layout-item>
                            </lightning-layout>
                        </p>
                    </h1>
                </div>
            </lightning-layout-item>
        </lightning-layout>
    </lightning-card>
</template>